PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/ngo-donation
JWT_SECRET=supersecretjwt
SUPERADMIN_NAME=HopeSpring SuperAdmin
SUPERADMIN_EMAIL=superadmin@example.com
SUPERADMIN_PASSWORD=ChangeMe@123
KEY_ID=rzp_test_xxxxxxxxxx
KEY_SECRET=xxxxxxxxxx
EMAIL=yourgmail@gmail.com
EMAIL_PASS=your-app-password
CLIENT_URL=http://localhost:5000
NGO_PAN=AAATN1234A
NGO_80G=80G/NGO/2026/12345
